<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>

<div class="content" id="content">
  <h1>Add New Title</h1>

  <form action="/admin/titles/create" method="POST">
    
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" required>
    </div>

    <button type="submit" class="btn-add">Add Title</button>
  </form>
</div>

<%- include("../partials/footer") %>
