<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.umd.js"></script>
<script src="/admin/js/admin.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    Fancybox.bind("[data-fancybox]", {
      // optional settings
    });
  });
</script>


</body>
</html>